<div id="<%= dom_id character %>">
  <h2><%= [character.title, character.name].compact_blank.join(" ") %></h2>
  <p><%= character.character_class %> level <%= character.level %><%= ", #{character.alignment}" if character.alignment.present? %></p>

  <% if [character.str, character.int, character.wil, character.dex, character.con, character.cha].any? %>
    <div class="stat-line">
      <% { STR: character.str, INT: character.int, WIL: character.wil, DEX: character.dex, CON: character.con, CHA: character.cha }.each do |label, value| %>
        <% next unless value %>
        <div class="stat">
          <div class="stat-value"><%= value %></div>
          <div class="stat-label"><%= label %></div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="character-sheet">
    <% if character.ethnicity.present? || character.sex.present? %>
      <div>
        <dt>Ethnicity</dt>
        <dd><%= character.ethnicity&.capitalize %></dd>
      </div>
      <div>
        <dt>Sex</dt>
        <dd><%= character.sex&.capitalize %></dd>
      </div>
    <% end %>

    <% if character.build.present? || character.height_inches.present? || character.weight_lbs.present? %>
      <div>
        <dt>Build</dt>
        <dd><%= character.build %></dd>
      </div>
      <div>
        <dt>Height / Weight</dt>
        <dd>
          <%= "#{character.height_inches / 12}' #{character.height_inches % 12}\"" if character.height_inches %>
          <%= " / #{character.weight_lbs} lbs" if character.weight_lbs %>
        </dd>
      </div>
    <% end %>

    <% if [character.eye_color, character.skin_color, character.hair_color, character.hair_texture].any?(&:present?) %>
      <div>
        <dt>Eyes</dt>
        <dd><%= character.eye_color %></dd>
      </div>
      <div>
        <dt>Skin</dt>
        <dd><%= character.skin_color %></dd>
      </div>
      <div>
        <dt>Hair</dt>
        <dd><%= [character.hair_texture, character.hair_color].compact_blank.join(" ") %></dd>
      </div>
      <div></div>
    <% end %>

    <% if character.features.present? %>
      <div class="full-width">
        <dt>Features</dt>
        <dd><%= character.features %></dd>
      </div>
    <% end %>

    <% if character.class_type.present? || character.template.present? %>
      <div>
        <dt>Class Type</dt>
        <dd><%= character.class_type&.capitalize %></dd>
      </div>
      <div>
        <dt>Template</dt>
        <dd><%= character.template %></dd>
      </div>
    <% end %>
  </div>
</div>
