<div id="<%= dom_id character %>">
  <div>
    <strong>Name:</strong>
    <%= character.name %>
  </div>

  <div>
    <strong>Title:</strong>
    <%= character.title %>
  </div>

  <div>
    <strong>Level:</strong>
    <%= character.level %>
  </div>

  <div>
    <strong>Character class:</strong>
    <%= character.character_class %>
  </div>

  <div>
    <strong>Class type:</strong>
    <%= character.class_type %>
  </div>

  <div>
    <strong>Template:</strong>
    <%= character.template %>
  </div>

  <div>
    <strong>Ethnicity:</strong>
    <%= character.ethnicity %>
  </div>

  <div>
    <strong>Sex:</strong>
    <%= character.sex %>
  </div>

  <div>
    <strong>Alignment:</strong>
    <%= character.alignment %>
  </div>

  <div>
    <strong>Str:</strong>
    <%= character.str %>
  </div>

  <div>
    <strong>Int:</strong>
    <%= character.int %>
  </div>

  <div>
    <strong>Wil:</strong>
    <%= character.wil %>
  </div>

  <div>
    <strong>Dex:</strong>
    <%= character.dex %>
  </div>

  <div>
    <strong>Con:</strong>
    <%= character.con %>
  </div>

  <div>
    <strong>Cha:</strong>
    <%= character.cha %>
  </div>

  <div>
    <strong>Build:</strong>
    <%= character.build %>
  </div>

  <div>
    <strong>Height inches:</strong>
    <%= character.height_inches %>
  </div>

  <div>
    <strong>Weight lbs:</strong>
    <%= character.weight_lbs %>
  </div>

  <div>
    <strong>Eye color:</strong>
    <%= character.eye_color %>
  </div>

  <div>
    <strong>Skin color:</strong>
    <%= character.skin_color %>
  </div>

  <div>
    <strong>Hair color:</strong>
    <%= character.hair_color %>
  </div>

  <div>
    <strong>Hair texture:</strong>
    <%= character.hair_texture %>
  </div>

  <div>
    <strong>Features:</strong>
    <%= character.features %>
  </div>

</div>
