<%= form_with(model: character) do |form| %>
  <% if character.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
        <% character.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :level, style: "display: block" %>
    <%= form.number_field :level %>
  </div>

  <div>
    <%= form.label :character_class, style: "display: block" %>
    <%= form.text_field :character_class %>
  </div>

  <div>
    <%= form.label :class_type, style: "display: block" %>
    <%= form.text_field :class_type %>
  </div>

  <div>
    <%= form.label :template, style: "display: block" %>
    <%= form.number_field :template %>
  </div>

  <div>
    <%= form.label :ethnicity, style: "display: block" %>
    <%= form.text_field :ethnicity %>
  </div>

  <div>
    <%= form.label :sex, style: "display: block" %>
    <%= form.text_field :sex %>
  </div>

  <div>
    <%= form.label :alignment, style: "display: block" %>
    <%= form.text_field :alignment %>
  </div>

  <div>
    <%= form.label :str, style: "display: block" %>
    <%= form.number_field :str %>
  </div>

  <div>
    <%= form.label :int, style: "display: block" %>
    <%= form.number_field :int %>
  </div>

  <div>
    <%= form.label :wil, style: "display: block" %>
    <%= form.number_field :wil %>
  </div>

  <div>
    <%= form.label :dex, style: "display: block" %>
    <%= form.number_field :dex %>
  </div>

  <div>
    <%= form.label :con, style: "display: block" %>
    <%= form.number_field :con %>
  </div>

  <div>
    <%= form.label :cha, style: "display: block" %>
    <%= form.number_field :cha %>
  </div>

  <div>
    <%= form.label :build, style: "display: block" %>
    <%= form.text_field :build %>
  </div>

  <div>
    <%= form.label :height_inches, style: "display: block" %>
    <%= form.number_field :height_inches %>
  </div>

  <div>
    <%= form.label :weight_lbs, style: "display: block" %>
    <%= form.number_field :weight_lbs %>
  </div>

  <div>
    <%= form.label :eye_color, style: "display: block" %>
    <%= form.text_field :eye_color %>
  </div>

  <div>
    <%= form.label :skin_color, style: "display: block" %>
    <%= form.text_field :skin_color %>
  </div>

  <div>
    <%= form.label :hair_color, style: "display: block" %>
    <%= form.text_field :hair_color %>
  </div>

  <div>
    <%= form.label :hair_texture, style: "display: block" %>
    <%= form.text_field :hair_texture %>
  </div>

  <div>
    <%= form.label :features, style: "display: block" %>
    <%= form.textarea :features %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
