<% if notice.present? %>
  <p class="notice"><%= notice %></p>
<% end %>

<%= render @character %>

<div class="form-actions">
  <%= link_to "Edit", edit_character_path(@character), class: "btn" %>
  <%= link_to "Back to characters", characters_path, class: "btn btn-secondary" %>
  <%= button_to "Delete", @character, method: :delete, class: "btn btn-secondary",
      data: { turbo_confirm: "Are you sure?" } %>
</div>
