<% content_for :title, "Generate Magic Items" %>

<h1>Generate Magic Items</h1>

<%= form_with url: generate_magic_items_path, method: :get, class: "character-form" do |f| %>
  <fieldset>
    <legend>Quantities by Rarity</legend>
    <div class="field-row">
      <% MagicItemsController::RARITIES.each do |rarity| %>
        <div class="field field-narrow">
          <%= f.label rarity, rarity.to_s.titleize %>
          <%= f.number_field rarity, value: @quantities[rarity], min: 0 %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <div class="form-actions">
    <%= f.submit "Generate", class: "btn" %>
  </div>
<% end %>

<% if @magic_item_instances %>
  <div class="magic-items-results">
    <h2>Results</h2>
    <% @magic_item_instances.group_by { |i| i.magic_item.rarity }.each do |rarity, instances| %>
      <h3><%= rarity.titleize %></h3>
      <ul>
        <% instances.sort_by(&:display_name).each do |instance| %>
          <li><%= instance.display_name %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
